[Default]
mongo_host: localhost
mongo_port: 27017
mongo_username: admin
mongo_password: admin
mongo_auth_db: admin
active: True

[AnotherSection]
mongo_host: localhost
mongo_port: 27017
mongo_username: admin
mongo_password: admin
mongo_auth_db: admin
active: True
